<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
    </div>
  </div>
  <% if (user && user.email){%>
    <label class="navbar-brand">Logged in as <%=user.email%></label>
    <form class="form-inline" action="/logout" method="POST">
      <button type="submit" class="btn btn-light">Logout</button>
    </form>
  <%} else {%>
      <form action="/login" method="GET">
        <button type="submit" class="btn btn-light">Sign in</button>
      </form>
      <form action="/register" method="GET">
        <button type="submit" class="btn btn-light">Register</button>
      </form>
    </div>
  </nav>
  <div class="alert alert-danger" role="alert">
    Please  <a href="/login" class="alert-link">Sign In</a> or <a href="/register" class="alert-link">Register</a> to get access to awesome short urls.
  </div>
  <fieldset style="width:500px; margin:0px auto;"><p><h3 style="font-family:'Courier New', Courier, monospace">WELCOME TO TINNYAPP 🙌</h3></p></fieldset>
<%}%>
</header>